<footer class="page-footer" style="padding-top: 0px">
	<div class="footer-copyright">
		<div class="container">
			<a href="https://www.linkedin.com/in/franco-bianco/" target="_blank"><i class="lab la-linkedin"> </i>Created by {{
				name }}</i></a>
		</div>
	</div>
</footer>