<!DOCTYPE html>
<html>
    <head>
        <title>Weather APP | {{ title }}</title>
        {{>headScripts}}
    </head>
    <body>
        {{>header}}
        <div class="main-content container">
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">This site was created by Franco Bianco. It uses data from MapBox and WeatherStack.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <img class="profile-img" src="/assets/img/image.jpg">
                </div>
            </div>
        </div>
        {{>footer}}
        {{>bodyScripts}}
    </body>
</html>