<!DOCTYPE html>
<html>
    <head>
        <title>Weather APP | {{ title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="profile-img" src="/assets/img/image.jpg">
        </div>
        {{>footer}}
    </body>
</html>