<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} </title>
        {{>headScripts}}
    </head>
    <body>
        {{>header}}
        <div class="main-content container">
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">Use this site to get your weather.</p>
                </div>
            </div>
            
            <form>
                <div class="row">
                    <div class="col s8">
                        <input placeholder="Location"/>
                    </div>
                    <div class="col s4">
                        <button class="btn waves-effect waves-light">Search</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text" id="loading-message"></p>
                    <p class="flow-text" id="response-message"></p>
                </div>
            </div>
        </div>
        {{>footer}}
        {{>bodyScripts}}
    </body>
</html>